# U.S. Medical Insurance Costs

In [14]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
data = pd.read_csv('insurance.csv')

# Display the first few rows of the dataframe
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [11]:
# Extract each column and store in individual variables
ages = data['age']
sexes = data['sex']
bmi_values = data['bmi']
children_counts = data['children']
smoker_statuses = data['smoker']
regions = data['region']
charges = data['charges']

In [7]:
average_age = round(data['age'].mean())
print('The average age of policy holders in this data set is',average_age,'.')

The average age of policy holders in this data set is 39 .

In [8]:
# Find the region with the highest count of individuals
majority_region = data['region'].value_counts().idxmax()
count_majority_region = data['region'].value_counts().max()

# Display the result with a print statement
print(f"The majority of individuals are from the {majority_region} region, with a total count of {count_majority_region} individuals.")

The majority of individuals are from the southeast region, with a total count of 364 individuals.

In [9]:
# Calculate the average charges for smokers and non-smokers
average_cost_smokers = data[data['smoker'] == 'yes']['charges'].mean()
average_cost_non_smokers = data[data['smoker'] == 'no']['charges'].mean()

# Display the results with print statements
print(f"The average cost for smokers is ${average_cost_smokers:.2f}.")
print(f"The average cost for non-smokers is ${average_cost_non_smokers:.2f}.")

The average cost for smokers is $32050.23.
The average cost for non-smokers is $8434.27.

In [13]:
# Filter the data for individuals with at least one child
data_with_children = data[data['children'] >= 1]

# Calculate the average age for individuals with at least one child
average_age_with_children = data_with_children['age'].mean()

# Display the result rounded to the nearest integer
average_age_with_children_rounded = round(average_age_with_children)
print(f"The average age of individuals with at least one child is {average_age_with_children_rounded} years.")

The average age of individuals with at least one child is 40 years.